.services{ 

    &-text {
    font-weight: bold;
    font-style: italic;
    padding-top: 2rem;
    color:gray;}

    &-subtext {
        font-weight: bold;
        font-style: italic;
        color:gray;
    }
}