.contact-form {
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.general-subtitle {
  color: gray;
}

.message-text {
  height: 100px;
  width: 100%;
}

.submit { 
  margin-top: 1rem;
  padding: 1rem;
  border: none;
  transition: 0.2s;
  font-weight: bold;

  &:hover{
    background-color: lightgray;
  }
}
