.header-container {
    position: relative;
  }
  
  .title {
    text-align: center;
  }
  
  .home {
    position: absolute;
    top: 0  ;
    right: 0;
    margin-right: 10rem;
  }
  
  .svg-home {
    width: 50px;
  }
  