.homepage {
    background-color: #212652;
    color: white;
    font-family: Telegraf, sans-serif;
}

.header-homepage {
    float: left;
    width: 24.8%;
    background-color: #212652;
    height: 100vh;
    border-right: 2px solid #f0f;
}

.header__title{
    font-size: 2rem;
    text-align: center;
    margin-top: 4rem;
}

.photo {
    width:24.8%;
    position: absolute;
    bottom: 0;
    left: 0;
}
  
.main-homepage {
    float: right;
    width: 75%;
    background-image: url("../images/background.png");
    background-size: cover;
    height: 100vh;
}

.title-container {
    text-align: center;
    margin: 4rem 0 5rem 0;

}

.title {
    font-size: 3rem;
    font-weight: bold;
}

.subtitle {
    margin-top: 2rem;
    font-size: 1.5rem;
}


.svg {
width: 64px;
align-content: center;
margin-bottom: 1rem;
}

span { 
    padding-top: 2rem;
}

.svg-contact {
    width: 64px;
    align-content: center;
    margin: 2rem 1rem 2rem 1rem;
    padding-bottom: 1rem;
    }

    .navigation-container{
        background-color: rgba(33, 38, 82, 0.6);
        width: 70%;
        margin: 0 auto;
    }

    .navigation-title{
        font-size: 2rem;
        text-align: center;
        padding: 2rem 0 3rem 0 ;
    }


    .links-container {
        margin-top: 0;
        text-align: center; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
      }
      
      .link {
        display: inline-block;
        width: 25%;
        margin: 30px;
        text-align: center; 
      }
      .link span {
        display: block;
        padding-top: 2rem;
      }
      .link img {
        display: block;
        margin: 0 auto;
        width: 60%;
        max-width: 64px;
      }

      .link-navigation {
        font-weight: bold;
        color: white;
        text-decoration: none;
      }

      @media screen and (max-width: 999px) {
        .header-homepage {
          width: 100%;
          border-right: none;
          height: auto;
          float: none;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          flex-direction: column;
        }
      
        .photo {
        
          position: static;
          width: 50%;
          margin: 2rem auto 0 auto;
        }

        .main-homepage {
            float: non;
            width: 100%;
            background-image: url("../images/background.png");
            background-size: cover;
            height: 150vh;
        }
      }
      